<a href="https://colab.research.google.com/github/Atulsingh7/DealersData/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [300]:
import pandas as pd 
import numpy as np

In [301]:
df_bikes = pd.read_csv('/content/bikes.csv')
df_dealers = pd.read_csv('/content/output.csv')

<ipython-input-301-1386c8c55caf>:2: DtypeWarning: Columns (21,27,28,37,56) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dealers = pd.read_csv('/content/output.csv')

In [302]:
# Removing the nan values of Dealer Code and Cust ID 

df_dealers = df_dealers[df_dealers['Dealer Code'].notna()]
df_bikes = df_bikes[df_bikes['Customer Id'].notna()]

In [303]:
set_dealers = set(df_dealers['Email Id'].tolist())
set_bikes = set(df_bikes['Customer Email Id'].tolist())

In [304]:
# set Intersection of Emails 

intersection_email = set_dealers.intersection(set_bikes)
intersection_email

{'aaa@gmail.com', 'ayyampettai@baluhonda.com', nan, 'viju.ptel@gmail.com'}

In [305]:
dataFrame3 = df_bikes.loc[df_bikes['Customer Email Id'] == 'viju.ptel@gmail.com']
dataFrame3

,Region,Model Name,Type,Customer Id,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
84704,Central,CB SHINE,ID,1-2G7HMJ7,PUNAJI,KHEDEKAR,First Time Buyer,Individual,"71 , VILL. MACHALPUR BUJURG TAH MAHESWER",NaN,...,NaN,VEHINV-MP150001-1617-00602,5/17/2016,OTHERS,ME4JC651DGT232372,JC65ET0343884,NaN,Finance,Individual,1

In [306]:
###############################################################################################################

In [307]:
# Changing the Datatype as per need 

df_bikes['Mobile No.'] = df_bikes['Mobile No.'].astype(int)
df_bikes['Mobile No.'] = df_bikes['Mobile No.'].astype(str)

In [308]:
df_bikes['Mobile No.'].shape , df_dealers['Help Line Numbers'].shape

((358703,), (19914,))

In [309]:
# Removing the NULL values 

df_bikes_c = df_bikes[df_bikes['Mobile No.'].notna()]
df_dealers_c = df_dealers[df_dealers['Help Line Numbers'].notna()]

In [310]:
# Making set out of Dataframes 

rough1 =  set(df_dealers['Help Line Numbers'].tolist())
rough2 = set(df_bikes['Mobile No.'].tolist())

In [311]:
# Finding common values 

rough3 = rough1.intersection(rough2)
len(rough3)

87

In [312]:
##############################################################################################

In [313]:
rough3 = list(rough3)

In [314]:
rough3[0]

'9997729105'

In [315]:
# Code to Check the dealers in Customer DB


df_bikes.loc[df_bikes['Mobile No.'] == '9829397355']

,Region,Model Name,Type,Customer Id,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
331418,North,CB SHINE,2ID,1-1VI88KG,NARENDRA,MEENA,First Time Buyer,Individual,DHUNAI TEHSIL NADBAI,BHARATPUR,...,NaN,VEHINV-RJ110001-1617-00049,4/7/2016,NaN,ME4JC652BG7143639,JC65E70458067,NaN,Cash,Individual,1
359422,North,CB SHINE,2ID,1-1T1K8SD,KAILASH,MEENA,First Time Buyer,Individual,VILLAGE - MEENA SEEMALA,TEHSIL SIKRAI,...,NaN,VEHINV-RJ110001-1617-00006,4/1/2016,NaN,ME4JC652BG7143605,JC65E70458029,NaN,Cash,Individual,1

In [316]:
# Finding common values 

rough3 = rough1.intersection(rough2)
len(rough3)

87

In [317]:
df_bikes.loc[df_bikes['Mobile No.'] == '7588166780']

,Region,Model Name,Type,Customer Id,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
254045,West,CB SHINE,ID,1-21WVSQ4,RAGHUNATH,MOKASE,First Time Buyer,Individual,M/POST- PISHOR SHAFEPUR TL- KANNAD,NaN,...,NaN,VEHINV-MH060001-1617-00635,4/20/2016,NaN,ME4JC651AG7283947,JC65E70426151,NaN,Cash,Individual,1
306491,West,CB SHINE,ID,1-1Y24P3Y,PANDHARINATH,SALUNKE,First Time Buyer,Individual,A/P SANJUL,PHULAMBRI,...,NaN,VEHINV-MH060001-1617-00437,4/12/2016,NaN,ME4JC651CG7318128,JC65E70477298,NaN,Cash,Individual,1
307069,West,DREAM YUGA,2ID,1-1Y0GIPA,RAVINDRA,KADAM,First Time Buyer,Individual,A/P N-6,"AVISHKAR COLONY, CIDCO",...,NaN,VEHINV-MH060001-1617-00427,4/12/2016,NaN,ME4JC58ACGT247788,JC58ET4247886,NaN,Cash,Individual,1
350754,West,CB SHINE,ID,1-1U4171T,ASHA,PALHAL,First Time Buyer,Individual,"AT/PO- N-9, PRATAPGAD NAGAR","CIDCO,",...,NaN,VEHINV-MH060001-1617-00070,4/4/2016,NaN,ME4JC651AGT170085,JC65ET0251008,NaN,Cash,Individual,1

In [318]:
df_big = pd.concat([dataFrame1,dataFrame2, dataFrame3], ignore_index=True)
##############

for number in rough3:
  dataFrame4 = df_bikes.loc[df_bikes['Mobile No.'] == number]
  df_big = pd.concat([df_big , dataFrame4], ignore_index=True)

df_big

,Region,Model Name,Type,Customer Id,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
0,Central,CD 110 DREAM,ID,1-275DNBN,DEVENDRA,SHARMA,First Time Buyer,Individual,"KUTHIYANA, AMBAH",NaN,...,NaN,VEHINV-MP320001-1617-00270,4/30/2016,NaN,ME4JC671KF8141577,JC67E80141535,NaN,Cash,Individual,1
1,Central,DREAM YUGA,2ID,1-275236V,ASHISH,TIWARI,First Time Buyer,Individual,GORMI BHIND,NaN,...,NaN,VEHINV-MP320001-1617-00269,4/30/2016,NaN,ME4JC58ADGT253557,JC58ET4253746,NaN,Cash,Individual,1
2,Central,CB SHINE,7ID,1-2610VGN,BHANU,TOMAR,First Time Buyer,Individual,PALI VIJAYGAD PORSA,NaN,...,NaN,VEHINV-MP320001-1617-00265,4/28/2016,NaN,ME4JC36NJE7086103,JC36E73687673,NaN,Cash,Individual,1
3,Central,DREAM YUGA,2ID,1-260VPKR,NEERAJ,NaN,First Time Buyer,Individual,GRAM- KUMAR PURA,NaN,...,NaN,VEHINV-MP320001-1617-00264,4/28/2016,NaN,ME4JC58ADGT253931,JC58ET4254074,NaN,Cash,Individual,1
4,South,ACTIVA I,5ID,1-2NCUYND,MOHAMED NASAR,S,First Time Buyer,Individual,"NO: 96A,NORTH STREET,CHAKKARAPALLI(PO)",PAPANASAM-TK,...,NaN,VEHINV-TN140002-1617-00534,5/30/2016,OTHERS,ME4JF487DG8021055,JF48E81089062,NaN,Finance,Individual,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,West,CB SHINE,2ID,1-1X9KCUQ,DNYANDEV,KHARATE,First Time Buyer,Individual,A/P - KAVATHA,TQ- BASMAT DIST- HINGOLI,...,NaN,VEHINV-MH380001-1617-00035,4/11/2016,Shri Ram Finance,ME4JC652CG7148114,JC65E70471221,NaN,Finance,Individual,1
347,West,CB SHINE,2ID,1-1XF0NLN,MAROTI,SHINDE,First Time Buyer,Individual,A/P- GUR,TQ- ARDHAPUR DIST-NANDED,...,NaN,VEHINV-MH380001-1617-00041,4/11/2016,NaN,ME4JC652BG7144871,JC65E70462037,NaN,Cash,Individual,1
348,West,CB SHINE,ID,1-1XFB36Y,SONAJI,DHUMAL,First Time Buyer,Individual,A/P- BASMAT.,TQ-BASMAT DIST-HINGOLI,...,NaN,VEHINV-MH380001-1617-00042,4/11/2016,Shri Ram Finance,ME4JC651BG7300200,JC65E70451892,NaN,Finance,Individual,1
349,West,CB125 SHINE SP,3ID,1-1XCEBG9,SURAJ,CHAVAN,First Time Buyer,Individual,A/P- PARBHANI,TQ-DIST- PARBHANI,...,NaN,VEHINV-MH380001-1617-00038,4/11/2016,NaN,ME4JC733BG8003133,JC73E80041408,NaN,Cash,Individual,1
350,West,LIVO,ID,1-1XA8VJO,GOVIND,KHANDARE,First Time Buyer,Individual,A/P- JAVALA (P),TQ- KALAMNURI DIST- HINGOLI,...,NaN,VEHINV-MH380001-1617-00036,4/11/2016,NaN,ME4JC711CGT091734,JC71ET0143067,NaN,Cash,Individual,1

In [319]:
############################################################################################################

In [320]:
############################################################################################################

In [321]:
# Removing the nan values of Dealer Code and Cust ID 
df_bikes_orig = df_bikes
df_dealers = df_dealers[df_dealers['Dealer Code'].notna()]
df_bikes = df_bikes[df_bikes['Phone No. Office'].notna()]

In [322]:
# Changing the Datatype as per need 

df_bikes['Phone No. Office'] = df_bikes['Phone No. Office'].astype(int)
df_bikes['Phone No. Office'] = df_bikes['Phone No. Office'].astype(str)

<ipython-input-322-6f3e032c57ff>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bikes['Phone No. Office'] = df_bikes['Phone No. Office'].astype(int)
<ipython-input-322-6f3e032c57ff>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bikes['Phone No. Office'] = df_bikes['Phone No. Office'].astype(str)

In [323]:
df_bikes.shape , df_dealers.shape

((11024, 27), (19914, 81))

In [324]:
set_dealers = set(df_dealers['Help Line Numbers'].tolist())
set_bikes = set(df_bikes['Phone No. Office'].tolist())

In [325]:
rough4 = set_dealers.intersection(set_bikes)

In [326]:
rough4

{'123456789', '8814980327', '8888819557'}

In [327]:
############################################################################################################

In [328]:
# Removing the nan values of Dealer Code and Cust ID 

df_dealers = df_dealers[df_dealers['Dealer Code'].notna()]
df_bikes = df_bikes[df_bikes['Phone No. Residence'].notna()]

In [329]:
# Changing the Datatype as per need 

df_bikes['Phone No. Residence'] = df_bikes['Phone No. Residence'].astype(int)
df_bikes['Phone No. Residence'] = df_bikes['Phone No. Residence'].astype(str)

<ipython-input-329-6ebc17c5dba5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bikes['Phone No. Residence'] = df_bikes['Phone No. Residence'].astype(int)
<ipython-input-329-6ebc17c5dba5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bikes['Phone No. Residence'] = df_bikes['Phone No. Residence'].astype(str)

In [330]:
df_bikes.shape , df_dealers.shape

((1932, 27), (19914, 81))

In [331]:
set_dealers = set(df_dealers['Help Line Numbers'].tolist())
set_bikes = set(df_bikes['Phone No. Residence'].tolist())

In [332]:
rough5 = set_dealers.intersection(set_bikes)
rough5

{'8275302645'}

In [333]:
############################################################################################################

In [334]:
set_dealers = set(df_dealers['Customer Care No'].tolist())
set_bikes = set(df_bikes['Phone No. Residence'].tolist())

In [335]:
rough6 = set_dealers.intersection(set_bikes)
rough6

set()

In [336]:
############################################################################################################

In [337]:
set_dealers = set(df_dealers['Service Contact Numbers'].tolist())
set_bikes = set(df_bikes['Mobile No.'].tolist())

In [338]:
rough7 = set_dealers.intersection(set_bikes)
rough7

{'8059900601'}

In [339]:
set_dealers = set(df_dealers['Service Contact Numbers'].tolist())
set_bikes = set(df_bikes['Phone No. Residence'].tolist())
rough8 = set_dealers.intersection(set_bikes)
rough8

set()

In [340]:
len(rough1),len(rough2),len(rough3)

(3031, 345628, 87)

In [341]:
###############################################################################################################

In [342]:
len(rough4),len(rough5),len(rough6),len(rough7)

(3, 1, 0, 1)

In [348]:
rough6 = rough4.union(rough5)
roughFinal = rough6.union(rough7)

len(roughFinal)

5

In [ ]:
351

In [349]:
for number in roughFinal:
  dataFrame4 = df_bikes_orig.loc[df_bikes_orig['Mobile No.'] == number]
  df_big = pd.concat([df_big , dataFrame4], ignore_index=True)

df_big

,Region,Model Name,Type,Customer Id,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
0,Central,CD 110 DREAM,ID,1-275DNBN,DEVENDRA,SHARMA,First Time Buyer,Individual,"KUTHIYANA, AMBAH",NaN,...,NaN,VEHINV-MP320001-1617-00270,4/30/2016,NaN,ME4JC671KF8141577,JC67E80141535,NaN,Cash,Individual,1
1,Central,DREAM YUGA,2ID,1-275236V,ASHISH,TIWARI,First Time Buyer,Individual,GORMI BHIND,NaN,...,NaN,VEHINV-MP320001-1617-00269,4/30/2016,NaN,ME4JC58ADGT253557,JC58ET4253746,NaN,Cash,Individual,1
2,Central,CB SHINE,7ID,1-2610VGN,BHANU,TOMAR,First Time Buyer,Individual,PALI VIJAYGAD PORSA,NaN,...,NaN,VEHINV-MP320001-1617-00265,4/28/2016,NaN,ME4JC36NJE7086103,JC36E73687673,NaN,Cash,Individual,1
3,Central,DREAM YUGA,2ID,1-260VPKR,NEERAJ,NaN,First Time Buyer,Individual,GRAM- KUMAR PURA,NaN,...,NaN,VEHINV-MP320001-1617-00264,4/28/2016,NaN,ME4JC58ADGT253931,JC58ET4254074,NaN,Cash,Individual,1
4,South,ACTIVA I,5ID,1-2NCUYND,MOHAMED NASAR,S,First Time Buyer,Individual,"NO: 96A,NORTH STREET,CHAKKARAPALLI(PO)",PAPANASAM-TK,...,NaN,VEHINV-TN140002-1617-00534,5/30/2016,OTHERS,ME4JF487DG8021055,JF48E81089062,NaN,Finance,Individual,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,North,LIVO,ID,1-1TYY2HE,RAKESH KUMAR,S/O RAJESHWAR MANDAL,First Time Buyer,Individual,"C/O MODERN AUTO MOTIVES,VILL-CHATTAR PURA,",MANDI GOBINDGARH,...,NaN,VEHINV-PB140002-1617-00019,4/4/2016,OTHERS,ME4JC711AGT066654,JC71ET0104340,NaN,Finance,Individual,1
395,West,CB SHINE,ID,1-2F3VVOC,VIJAY,SAWANT,First Time Buyer,Individual,A/P NIGADI KHURD,TAL-JATH,...,NaN,VEHINV-MH100001-1617-01542,5/15/2016,NaN,ME4JC651AGT183892,JC65ET0272008,NaN,Cash,Individual,1
396,West,CB SHINE,ID,1-280FP8T,BASAVARAJ,GONDHALI,First Time Buyer,Individual,A/P BIJJARAGI,TQ & DT : BIJAPUR,...,NaN,VEHINV-MH100001-1617-00972,5/2/2016,NaN,ME4JC651AGT185851,JC65ET0274860,NaN,Cash,Individual,1
397,West,CB125 SHINE SP,ID,1-23HKM9Q,ABHAYSING,LANDAGE,First Time Buyer,Individual,A/P YELAVI,TAL-JATH,...,NaN,VEHINV-MH100001-1617-00737,4/23/2016,NaN,ME4JC731CG8023648,JC73E80050024,NaN,Cash,Individual,1
398,West,CB SHINE,ID,1-1ZTSNMI,RAMAJAN,PAKHALI,First Time Buyer,Individual,A/P NEW JANAVAR BAZAR SAMBHAJI,NAGAR SATARA ROAD JATH TAL-JATH,...,NaN,VEHINV-MH100001-1617-00289,4/16/2016,NaN,ME4JC651AG7285195,JC65E70428197,NaN,Cash,Individual,1

SO WE HAVE 350 DIFFERENT USERS WITH UNIQUE CUSTOMER ID

In [351]:
gb1 = df_big.groupby('Customer Id')
gb1.first()

,Region,Model Name,Type,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,Locality,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
Customer Id,,,,,,,,,,,,,,,,,,,,,
1-1QJ9YVO,West,ACTIVA 125,ID,TAUSIF,PATEL,First Time Buyer,Individual,VIDYAMANDIR PANDHARE PANI,MALAI WADA TAL-SHAHUWADI,None,...,NaN,VEHINV-MH010004-1617-00382,4/17/2016,OTHERS,ME4JF493AG8120763,JF49E81138590,None,Finance,Individual,1
1-1SMYNR1,West,CB SHINE,ID,PRADEEP,BELE,First Time Buyer,Individual,CHANODANADRA PO-HIWARA,HIWARI PIPLA TQ. UMRED,None,...,NaN,VEHINV-MH030001-1617-00001,4/1/2016,None,ME4JC651BGT192851,JC65ET0285635,None,Cash,Individual,1
1-1SNSBEL,West,ACTIVA 125,ID,YASH MOTORS(NASHTE HONDA),None,First Time Buyer,Individual,"A/P- OPP.SBI BANK,GANDHI CHOWK AKLUJ*-",TAL-MALSHIRAS DIST-SOLAPUR,None,...,NaN,VEHINV-MH420001-1617-00001,4/1/2016,None,ME4JF493HF8026371,JF49E81032220,None,Cash,Individual,1
1-1SQXI69,West,CB125 SHINE SP,3ID,DILIP,PATIL M S SAIPOINT AUTOMOBILE PVT LTD,First Time Buyer,Individual,SAVLARAM COM NR V PAWAN PUTRA RESIDENCY OPP HO...,HOTEL SAI POOJA OLD,None,...,NaN,VEHINV-MH070001-1617-00028,4/1/2016,None,ME4JC733CG8003600,JC73E80050579,None,Cash,Individual,1
1-1T0ZBFP,North,CD 110 DREAM,ID,AMARJEET,CHADHA,First Time Buyer,Individual,"# 178/3, KRISHNA COLONY,LADWA",TEH: THANESAR,None,...,NaN,VEHINV-HR260001-1617-00003,4/1/2016,None,ME4JC671KF8144779,JC67E80144754,None,Cash,Individual,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1-2O3SY9B,West,CB UNICORN,7ID,SANTOSH,CHAVAN,First Time Buyer,Individual,AT/PO- BUDHWAR PETH BASMAT,TQ-BASMATH DIST-HINGOLI,Basmath-431512,...,NaN,VEHINV-MH380001-1617-00395,5/31/2016,None,ME4KC09MDG8025944,KC09E87025988,None,Cash,Individual,1
1-2O4HG4B,South,DREAM YUGA,2ID,MAHALINGAM,M,First Time Buyer,Individual,DEVANESA NAGAR,PEERKANKARANAI CHENNAI,None,...,NaN,VEHINV-TN010004-1617-01522,5/31/2016,None,ME4JC58AHFT157989,JC58ET4158128,None,Cash,Individual,1
1-2O4YDEO,South,LIVO,ID,DAKSHINA MOORTHY,P,First Time Buyer,Individual,ANNA CROSS STREET,NEW PERUNGALATHUR CHENNAI,None,...,NaN,VEHINV-TN010004-1617-01525,5/31/2016,OTHERS,ME4JC712CGT052700,JC71ET0147449,None,Finance,Individual,1
1-2O58PN9,West,CB125 SHINE SP,ID,SHAIKH ANISODDIN,SHAIKH RASHIYODDIN,First Time Buyer,Individual,AT/PO-PATHRI,TQ-PATHARI DIST-PARBHANI,PARBHANI-431401,...,NaN,VEHINV-MH380001-1617-00398,5/31/2016,None,ME4JC731EG8037387,JC73E80076850,None,Cash,Individual,1
1-2OBHF1L,West,ACTIVA 125,ID,HARSHWARDHAN,GAJBHIYE,First Time Buyer,Individual,H/N-221 W/NO-03 SANGAM ROAD.,BINA SANGAM PO.KHAPERKHEDA,None,...,NaN,VEHINV-MH030001-1617-02477,5/31/2016,None,ME4JF493EG8188014,JF49E81217593,None,Cash,Individual,1

In [364]:

count = df_big['Mobile No.'].value_counts()
count

123456789       86
8007999326      25
9997729105      18
9551024000      15
9673098371      14
                ..
8129460555       1
9174094021.0     1
9942682865.0     1
9043648876.0     1
8059900601       1
Name: Mobile No., Length: 120, dtype: int64

In [368]:
df_big.loc[df_big['Mobile No.'] == '8007999326']

,Region,Model Name,Type,Customer Id,Customer First Name,Customer Last Name,Customer Type,Customer Category,Customer Address Line 1,Customer Address Line 2,...,Invoice Number,Reference No,Invoice Created Date,Financier Name,Frame Number,Engine Number,Test Ride Vehicle Flag,Purchase type,Enquiry Category,Number of Invoices
297,West,ACTIVA 125,ID,1-2OBHF1L,HARSHWARDHAN,GAJBHIYE,First Time Buyer,Individual,H/N-221 W/NO-03 SANGAM ROAD.,BINA SANGAM PO.KHAPERKHEDA,...,NaN,VEHINV-MH030001-1617-02477,5/31/2016,NaN,ME4JF493EG8188014,JF49E81217593,NaN,Cash,Individual,1
298,West,CB SHINE,ID,1-2LSXF89,VIJAY,RANGANKAR,First Time Buyer,Individual,H/NO-64 W/NO-02 SINGORI,HINGNA BARABHAI TAMASVADI,...,NaN,VEHINV-MH030001-1617-02354,5/27/2016,NaN,ME4JC651DGT235086,JC65ET0349035,NaN,Cash,Individual,1
299,West,AVIATOR,4ID,1-2IQUGE2,ARUN,BHOYAR,First Time Buyer,Individual,W/N-01 AT-PO-DAHEGAON,TAH-SAONER,...,NaN,VEHINV-MH030001-1617-02158,5/21/2016,NaN,ME4JF219CG8042164,JF21E81084324,NaN,Cash,Individual,1
300,West,DREAM YUGA,2ID,1-2IMIZ6H,SATISH,MESHRAM,First Time Buyer,Individual,54-1 SHAM MANGAL KARYALAY KADIL BHAG,DR. ABEDKAR NAGAR CHICHOLI SAONER,...,NaN,VEHINV-MH030001-1617-02137,5/21/2016,OTHERS,ME4JC58ADGT259611,JC58ET4259536,NaN,Finance,Individual,1
301,West,CB SHINE,ID,1-2GM7U3T,SURENDRA,GAJBHIYE,First Time Buyer,Individual,B/H-PRIMARY SCHOOL.,W/N-04 BHIM NAGAR KHAPERKHEDA,...,NaN,VEHINV-MH030001-1617-02027,5/18/2016,NaN,ME4JC651EG7334771,JC65E70501578,NaN,Cash,Individual,1
302,West,DREAM YUGA,2ID,1-2FFBA86,BABULAL,KAITHAVAS,First Time Buyer,Individual,Q/NO-70/2 W/NO-4 AT-CHABAPUR,PO-SILLEWADA,...,NaN,VEHINV-MH030001-1617-01974,5/16/2016,OTHERS,ME4JC58AEGT269690,JC58ET4265763,NaN,Finance,Individual,1
303,West,CB SHINE,ID,1-2CM1B8Z,CHANDRAKALA,PAHADE,First Time Buyer,Individual,RETA CHECK POST W/N-02,WALNI MAINS ROHNA SAONER,...,NaN,VEHINV-MH030001-1617-01787,5/11/2016,OTHERS,ME4JC651CGT216215,JC65ET0321374,NaN,Finance,Individual,1
304,West,ACTIVA I,5ID,1-2939F99,RAJRANI,SONI,First Time Buyer,Individual,W NO. 5 OM NAGAR POTA CHANKAPUR,POTA SILLEWARA PROJECT SAONER,...,NaN,VEHINV-MH030001-1617-01562,5/4/2016,OTHERS,ME4JF487CG8018227,JF48E81082631,NaN,Finance,Individual,1
305,West,CB SHINE,ID,1-293R3NT,DIPAK,KANGALE,First Time Buyer,Individual,BHANEGAON 22 NAVIN BINA,TQ. SAONER,...,NaN,VEHINV-MH030001-1617-01571,5/4/2016,OTHERS,ME4JC651CGT221187,JC65ET0328969,NaN,Finance,Individual,1
306,West,LIVO,3ID,1-2940MOF,RAMCHARAN,KAIKADE,First Time Buyer,Individual,73/2 CHINCHOLI K P2,TQ. SAONER,...,NaN,VEHINV-MH030001-1617-01565,5/4/2016,NaN,ME4JC714DGT003808,JC71ET0174592,NaN,Cash,Individual,1
307,West,CB SHINE,ID,1-268A2QG,AKASH,BAGDE,First Time Buyer,Individual,NR- ANGANWADI,W/N-01 CHICHOLI KHAPERKHEDA,...,NaN,VEHINV-MH030001-1617-01348,4/28/2016,OTHERS,ME4JC651CGT221264,JC65ET0329086,NaN,Finance,Individual,1
308,West,LIVO,ID,1-24DFGZW,NAGESH,SONTAKKE,First Time Buyer,Individual,W/N-03 KAMPTEE ROAD.,NEW BHANEGAON KHAPARKHEDA,...,NaN,VEHINV-MH030001-1617-01214,4/25/2016,OTHERS,ME4JC711AGT066458,JC71ET0104232,NaN,Finance,Individual,1
309,West,ACTIVA 125,ID,1-238JJS7,ASHWINI,DHOLE,First Time Buyer,Individual,PLOT NO-217 W/N-04 ANNAMOD KHAPERKHEDA,KAMPTEE,...,NaN,VEHINV-MH030001-1617-01098,4/22/2016,NaN,ME4JF493DG8168268,JF49E81194384,NaN,Cash,Individual,1
310,West,CB SHINE,2ID,1-23732UX,RAJENDRA,YADAV,First Time Buyer,Individual,W/N-05 AT-POTA SILLEWADA,T-SAONER,...,NaN,VEHINV-MH030001-1617-01084,4/22/2016,OTHERS,ME4JC652CGT104703,JC65ET0320738,NaN,Finance,Individual,1
311,West,CB HORNET 160R,ID,1-21U46JU,HEMANTKUMAR,SAYAME,First Time Buyer,Individual,W/N-03 B/H-AIRTEL TOWER,AT-PO-KHAPERKHEDA T-SAONER,...,NaN,VEHINV-MH030001-1617-00972,4/20/2016,NaN,ME4KC231CG8037071,KC23E80044962,NaN,Cash,Individual,1
312,West,DREAM YUGA,2ID,1-21WDG2E,KAMTAPRASAD,KAITHWAS,First Time Buyer,Individual,Q/N-88/3 W/N-04 AT-CHANKAPUR,PO-SILLEWADA,...,NaN,VEHINV-MH030001-1617-01000,4/20/2016,OTHERS,ME4JC58ACGT246119,JC58ET4245987,NaN,Finance,Individual,1
313,West,CB SHINE,ID,1-1YN2EHY,RAMKRISHNA,BOPCHE,First Time Buyer,Individual,W/N-01 SILLEWARA VASTI,POTA,...,NaN,VEHINV-MH030001-1617-00751,4/14/2016,OTHERS,ME4JC651CGT216341,JC65ET0321509,NaN,Finance,Individual,1
314,West,CB SHINE,ID,1-1YGM3IK,DILIP,SHRIVASTAV,First Time Buyer,Individual,NR SHYAM MANGAL KARYALAY,W.NO.2 KHPERKHEDA,...,NaN,VEHINV-MH030001-1617-00670,4/13/2016,NaN,ME4JC651CGT220048,JC65ET0327331,NaN,Cash,Individual,1
315,West,LIVO,ID,1-1YGA4ZS,ASHOK,DAWANDE,First Time Buyer,Individual,PLOT NO-2 SHANTI NIWAS,AMRAVATI ROAD.NR-ORNANCE FACTORY,...,NaN,VEHINV-MH030001-1617-00666,4/13/2016,NaN,ME4JC711BGT087106,JC71ET0135733,NaN,Cash,Individual,1
316,West,DREAM YUGA,2ID,1-1XCRRQF,ATUL,KHADSE,First Time Buyer,Individual,KILL PURCE AT PO PATANSWAGI TAH.,SAVNER,...,NaN,VEHINV-MH030001-1617-00558,4/11/2016,NaN,ME4JC58ACGT246470,JC58ET4246577,NaN,Cash,Individual,1
317,West,CB SHINE,ID,1-1UQV0YH,PRAMOD,GANDHEWAR,First Time Buyer,Individual,DARJI PURA NR,HANUMAN MANDIR KAMPTEE,...,NaN,VEHINV-MH030001-1617-00214,4/5/2016,NaN,ME4JC651CG7312933,JC65E70470081,NaN,Cash,Individual,1
318,West,DREAM YUGA,2ID,1-1U975LX,DIGAMBER,HIREKHAN,First Time Buyer,Individual,WARD NO-1 AT-CHICHOLI,PO- KHAPARKHEDA,...,NaN,VEHINV-MH030001-1617-00140,4/5/2016,OTHERS,ME4JC58ACFT026569,JC58ET4026999,NaN,Finance,Individual,1
319,West,ACTIVA 125,ID,1-1U7ZG4D,KAVITA,INGLE,First Time Buyer,Individual,Q. NO. C-16/4 TPS STAFF COLONY,PRAKASH NAGAR KHAPARKHEDA KAMPTEE,...,NaN,VEHINV-MH030001-1617-00073,4/4/2016,NaN,ME4JF493BG8144653,JF49E81166780,NaN,Cash,Individual,1
320,West,CB SHINE,ID,1-1U88CKE,RAMU,MANKAR,First Time Buyer,Individual,QTR NO. LCH-49 AT-SILEWARA,PO-SILEWARA TAH-SAONER,...,NaN,VEHINV-MH030001-1617-00080,4/4/2016,OTHERS,ME4JC651CGT216033,JC65ET0321068,NaN,Finance,Individual,1
321,West,CB SHINE,ID,1-1SMYNR1,PRADEEP,BELE,First Time Buyer,Individual,CHANODANADRA PO-HIWARA,HIWARI PIPLA TQ. UMRED,...,NaN,VEHINV-MH030001-1617-00001,4/1/2016,NaN,ME4JC651BGT192851,JC65ET0285635,NaN,Cash,Individual,1

Warning: Total number of columns (27) exceeds max_columns (20) limiting to first (20) columns.

In [347]:
# This code helps in deleting entries of the DataFrame

'''df = df_bikes

for number in rough3:
  index_names = df[ df['Mobile No.'] == number ].index
  df.drop(index_names, inplace = True)

df.shape 
'''

"df = df_bikes\n\nfor number in rough3:\n  index_names = df[ df['Mobile No.'] == number ].index\n  df.drop(index_names, inplace = True)\n\ndf.shape \n"